//<!-- TEXTO PRINCIPAL -->
.texto__principal {
    background-color: rgb(33, 61, 102);
    color: white;
    font-size: small;
}

//<!-- INICIAR SESION Y CARRITO -->
.inicio__carro {
    display: flex;
    justify-content: end;

    p {
        margin: 10px;
    }

}

.nav__bar {
    background-color: rgb(131, 161, 151);
    display: flex;
    justify-content: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-bottom-color: rgb(98, 98, 98);
}

//<!-- IMAGEN LOGO -->
.img__logo {
    width: 120px;
}

//<!-- NAVBAR -->
.menu {
    margin-top: 30px;
    font-weight: bold;

    li {
        position: relative;
        display: inline-block;
    }

    li a {
        color: rgba(95, 106, 121, 0.8);
        display: block;
    }
}

.menu li a:hover {
    color: black;
}

//<!-- DESTACADO -->
.destacado {
    font-size: xx-large;
    margin: 30px;
}


// <!-- IMAGENES -->



//<!-- FOOTER -->

.footer {
    background-color: rgb(131, 161, 151);
}