* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: #f5f6f7;
}

.descuento-nav {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  background-color: rgb(71, 115, 156);
  color: antiquewhite;
}

.contenedor-solapa {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(77, 77, 77);
  font-weight: 600;
}

.imagen-navbar {
  width: 6rem;
}

li {
  text-decoration: none;
  color: white;
}

li:hover {
  color: rgb(71, 115, 156);
}

